.box {
    display: flex;
    width: 100%;
    flex-direction: column;

    padding: 0.5rem;
    margin-bottom: 1rem;

    border-radius: 0.5rem;

    background-color: var(--task-background);
    transition: background-color 0.4s ease-out;
    font-size: 0.75rem;
    overflow-y: hidden;
    min-height: 2.5rem;
    max-height: 2.5rem;
    transition: max-height 0.2s linear;
}

.box h2 {
    color: var(--task-title-dark);
    transition: color 0.4s ease-out;
    font-weight: 500;
}

.box i {
    color: var(--task-desc-dark);
    transition: color 0.4s ease-out;
}

.box p {
    color: var(--task-desc-dark);
    transition: color 0.4s ease-out;
    transform-origin: top;
    transition: transform 0.2s ease-in-out;
    transform: scale(1, 0);
}

.box:hover {
    background-color: var(--task-backgroundActive);
    cursor: pointer;
    transition: max-height 0.2s linear;
    max-height: 4rem;
}

.box:hover h2,
.box:hover i {
    color:var(--task-title-light)
}

.box:hover p {
    color:var(--task-desc-light);
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
    transform: scale(1, 1);
}

.box[data-active="true"] {
    background-color: var(--task-backgroundActive);
    max-height: 4rem;
}

.box[data-active="true"] h2, 
.box[data-active="true"] i {
    color: var(--task-title-light);
}
.box[data-active="true"] h2 {
    color: var(--task-title-light);
}

.box[data-active="true"] p {
    color: var(--task-desc-light);
    transform: scale(1, 1);
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-direction: row-reverse;
}

.wrapper input {
    transform: translateY(15%);
    width: 2rem;
    height: 2rem;
}

.wrapper input:checked ~ .box h2 {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--task-desc-dark);
    color: var(--task-desc-light);
    font-weight: bold;
}

.wrapper input:checked ~ .box:hover h2,
.wrapper input:checked ~ .box[data-active="true"] h2 {
    color: var(--task-title-light);
    font-weight: bold;
}

.wrapper input:checked ~ .box:hover {
    background-color: var(--task-background);
}

.wrapper input:checked ~ .box:hover h2 {
    color: var(--task-desc-light);
}

.wrapper input:checked ~ .box:hover p,
.wrapper input:checked ~ .box:hover i {
    color: var(--task-desc-dark);
}

.wrapper input:checked ~ .box[data-active="true"] {
    background-color: var(--task-background);
    max-height: 4rem;
}

.wrapper input:checked ~ .box[data-active="true"] h2{ 
    color: var(--task-desc-light);
}

.wrapper input:checked ~ .box[data-active="true"] i,
.wrapper input:checked ~ .box[data-active="true"] p {
    color: var(--task-desc-dark);
}


.priority {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.priority p{
    all: unset;
    color: var(--task-desc-dark)
}