* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--background);

  background-image: radial-gradient(
    circle at 100%,
    var(--background),
    var(--background2) 
  );
}

a {
  color: inherit;
  text-decoration: none;
}


:root {
  --background: #223836;
  --background2: #231f1b;

  --text: #f0f0f0;
  --text-highlight: #d7642b;


  --task-background: #f0f0f0;
  --task-backgroundActive: #689857;
  --task-backgroundActive-checked: #708868;
  --task-title-dark: var(--background);
  --task-desc-dark: gray;
  --task-title-light: white;
  --task-desc-light: gainsboro;

  --menuButton1: #00ca4e;
  --menuButton2: #ffbd44;
  --menuButton3: #ff605c;

  --menuButton1-hover: #59824A;
  --menuButton2-hover: #cc9c00;
  --menuButton3-hover: #B54E2C;

  --form-background: rgba(32, 30, 31, 0.8);
  --form-border: #ff6900;
  --form-title: #f0f0f0;
  --form-button: #f08800;
  --form-button-hover: var(--listMenu-backgroundActive);
  --form-input-background: #eaeaea;

  --listMenu-background1: #f0f0f0;
  --listMenu-background2: #e0e0d0;
  --listMenu-title: var(--text-highlight);
  --listMenu-subtitle: var(--background);

  --listMenu-backgroundActive:#c56c3f;
  --listMenu-backgroundOption:#f0f0f0;
  --listMenu-options: var(--background2);
  --listMenu-buttons: var(--background2);

  /* --listMenu-background: #171412;
  --listMenu-backgroundActive:#222222;
  --listMenu-backgroundOption:#171412;
  --listMenu-title: #ff6900;
  --listMenu-options: gainsboro;
  --listMenu-buttons: #ff6900; */

}