.taskMenu {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.taskMenu button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    text-shadow: 1px 1px 2px gray;
    font-size: larger;
    transition: background-color 0.4s ease-out;
    color:white;
    cursor: pointer;
}

.button1 {
    background-color: var(--menuButton1);
}
.button2 {
    background-color: var(--menuButton2);
}
.button3 {
    background-color: var(--menuButton3);
}

.button1:hover {
    background-color: var(--menuButton1-hover);
}
.button2:hover {
    background-color: var(--menuButton2-hover);
}
.button3:hover {
    background-color: var(--menuButton3-hover);
}

.listMenu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    left: 0;
    min-width: 200px;
    background-color: var(--listMenu-background);
    box-shadow: 10px 0px 10px #171412;
}

.lists h1 {
    padding: 1rem;
    padding-bottom: 0.5rem;
    color: var(--listMenu-title);
    border-bottom: 1px solid var(--text-highlight);
    font-weight: 400;
}

.lists h2 {
    color: var(--listMenu-options);
    font-weight: 300;
    padding-left: 1rem;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: medium;
    background-color: var(--listMenu-backgroundOption);
}

.lists h2:hover { 
    background-color: var(--listMenu-backgroundActive);
    cursor: pointer;
}

.lists h2[data-selected="true"] {
    background-color: var(--listMenu-backgroundActive);
}

.listButtons {
    display: flex;
    flex-direction: column;

    border-top: 2px solid var(--text-highlight);
    background-color: var(--listMenu-backgroundOption);
}
.listButtons h2 {
    font-size: medium;
    font-weight: 200;
    color: var(--listMenu-buttons);
    padding:0.5rem;
    padding-left: 1rem;
}

.listButtons h2:hover {
    cursor: pointer;
    background-color: var(--listMenu-backgroundActive);
}


