.box {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    width: 40%;

}

.listName {
    color:var(--listMenu-background1);
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;
    border-bottom: 3px solid var(--text-highlight);
}